#header {
    position: absolute;
width: 515px;
height: 40px;
left: 15px;
top: 419px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 43px;
line-height: 40px;
/* identical to box height, or 92% */

letter-spacing: 1px;
text-transform: uppercase;

color: #FFFFFF;
}
#subheading {
    position: absolute;
    width: 363px;
    height: 23px;
    left: 20px;
    top: 618px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
}
#uhdlogo {
    position: absolute;
    width: 450px;
    height: 71px;
    left: 15px;
    top: 25px;

    background: url(uhd-logo.png);
    border-radius: 0px;
}
#rectangle1 {
    position: absolute;
    width: 1920px;
    height: 124px;
    left: 0px;
    top: 0px;

    background: #D3D3D3;
    border-radius: 0px;
}
#rectangle2 {
    position: absolute;
    width: 1920px;
    height: 26px;
    left: 0px;
    top: 124px;

    background: #06235B;
}
#rectangle3 {
    position: absolute;
    width: 1920px;
    height: 8px;
    left: 0px;
    top: 146px;

    background: #A81028;
    border-radius: 0px;
}
#heading {
    position: absolute;
    width: 1920px;
    height: 178px;
    left: 0px;
    top: 225px;

    background: url(peeps-banner.jpg), #FFFFFF;
    border-radius: 0px;
}
#about {
    position: absolute;
    width: 58px;
    height: 17px;
    left: 52px;
    top: 126px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;


    text-transform: uppercase;

    color: #FFFFFF;
}
#inventory {
    position: absolute;
    width: 84px;
    height: 17px;
    left: 135px;
    top: 126px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;

    text-transform: uppercase;

    color: #FFFFFF;
}
#volunteer {
    position: absolute;
    width: 153px;
    height: 17px;
    left: 239px;
    top: 126px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;

    text-transform: uppercase;

    color: #FFFFFF;
}
#donate {
    position: absolute;
    width: 153px;
    height: 17px;
    left: 408px;
    top: 126px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;

    text-transform: uppercase;

    color: #FFFFFF;
}
#appointment {
    position: absolute;
    width: 200px;
    height: 17px;
    left: 600px;
    top: 126px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;

    text-transform: uppercase;

    color: #FFFFFF;
}
#feedback1 {
    position: absolute;
    width: 178px;
    height: 17px;
    left: 670px;
    top: 126px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;

    text-transform: uppercase;

    color: #FFFFFF;
}
#rectangle4 {
    position: absolute;
    width: 1920px;
    height: 124px;
    left: -3px;
    top: 103px;

    background: #D3D3D3;
    border-radius: 0px;
}
#covidupdate {
    position: absolute;
    width: 1920px;
    height: 47px;
    left: 20px;
    top: 162px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    text-decoration-line: underline;

    color: #000000;
}
#rectangle5 {
    position: absolute;
    width: 837px;
    height: 58px;
    left: -28px;
    top: 312px;

    background: #06235B;
}
#header1 {
    position: absolute;
width: 786px;
height: 40px;
left: 15px;
top: 321px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 43px;
line-height: 40px;
/* identical to box height, or 92% */

letter-spacing: 1px;
text-transform: uppercase;

color: #FFFFFF;
}
#p1 {
    position: absolute;
    width: 1800px;
    height: 71px;
    left: 20px;
    top: 467px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    
    color: #FFFFFF;
}
#rectangle6 {
    position: absolute;
width: 1920px;
height: 8px;
left: 0px;
top: 526px;

background: #A81028;
border-radius: 0px;
}
#about1 {
    position: absolute;
width: 515px;
height: 40px;
left: 15px;
top: 549px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 43px;
line-height: 40px;

letter-spacing: 1px;
text-transform: uppercase;

color: #FFFFFF;
}
#sub1 {
    position: absolute;
width: 400px;
height: 23px;
left: 20px;
top: 598px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 22px;

color: #FFFFFF;
}
#p2 {
    position: absolute;
width: 1800px;
height: 47px;
left: 20px;
top: 632px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;

color: #FFFFFF;
}
#sub2 {
    position: absolute;
width: 486px;
height: 23px;
left: 20px;
top: 676px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 22px;
/* identical to box height, or 130% */


color: #FFFFFF;
}
#p3 {
    position: absolute;
width: 1600px;
height: 244px;
left: 20px;
top: 710px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
/* or 130% */


color: #FFFFFF;
}
#photo {
    position: absolute;
width: 700px;
height: 400px;
left: 1100px;
top: 779px;

background: url(Chips.jpg);
border-radius: 0px;
}
#p4 {
    position: absolute;
width: 486px;
height: 23px;
left: 20px;
top: 796px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 22px;
/* identical to box height, or 130% */


color: #FFFFFF;
}
#p5 {
    position: absolute;
width: 1050px;
height: 244px;
left: 20px;
top: 830px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
/* or 130% */


color: #FFFFFF;
}
#p6 {
    position: absolute;
width: 1000px;
height: 168px;
left: 32px;
top: 1027px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
/* or 130% */


color: #FFFFFF;
}
#p7 {
    position: absolute;
width: 1000px;
height: 168px;
left: 32px;
top: 1057px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
/* or 130% */


color: #FFFFFF;
}
#rectangle7 {
    position: absolute;
width: 1920px;
height: 8px;
left: 0px;
top: 1195px;

background: #A81028;
border-radius: 0px;
}
#sub3 {
    position: absolute;
width: 515px;
height: 40px;
left: 15px;
top: 1220px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 43px;
line-height: 40px;
/* identical to box height, or 92% */

letter-spacing: 1px;
text-transform: uppercase;

color: #FFFFFF;
}
#p8 {
    position: absolute;
width: 591px;
height: 23px;
left: 15px;
top: 1270px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 22px;
/* identical to box height, or 130% */


color: #FFFFFF;
}
#rectangle8 {
    position: absolute;
width: 1920px;
height: 8px;
left: 0px;
top: 1513px;

background: #A81028;
border-radius: 0px;
}
#sub4 {
    position: absolute;
width: 1000px;
height: 40px;
left: 15px;
top: 1538px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 43px;
line-height: 40px;
/* identical to box height, or 92% */

letter-spacing: 1px;
text-transform: uppercase;

color: #FFFFFF;
}
#p9 {
    position: absolute;
width: 886px;
height: 23px;
left: 15px;
top: 1588px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 22px;
/* identical to box height, or 130% */


color: #FFFFFF;
}
#feedback {
    position: absolute;
    width: 1920px;
    height: 200px;
    left: 0px;
    top: 1680px;

    background: #A81028;
    border-radius: 0px;
}

#invt {
    position: absolute;
width: 1050px;
height: 244px;
left: 20px;
top: 1298px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
/* or 130% */


color: #FFFFFF;
}
#storagepic {
    position: absolute;
    width: 600px;
    height: 300px;
    left: 1100px;
    top: 1208px;
    
    background: url(newstock.png);
    border-radius: 0px;
    
}
